<header class="header">
    <nav class="header__nav">
        <a href="/" class="header__logo">ManaFinder</a>
        <ul>
            <li><a href="/"></a>Home</li>
            <li><a href="/about"></a>About</li>
            <li><a href="/contact"></a>Contact</li>
        </ul>
    </nav>
</header>