<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css?v=1.0.1">
    <title>MTG CARD FINDER</title>
</head>

<body>

    <%- include('../partials/header.ejs') %>
        <div class="page__container">
            <main class="main">
                <%- body %>
            </main>
        </div>
        <%- include('../partials/footer.ejs') %>

            <script src="/js/index.js?v=1.0.1"></script>
</body>

</html>